<%= simple_form_for(@recipe) do |f| %>
    <%= f.association :category, collection: Category.order(:name), label: "Category" %>
    <%= f.association :ingredient, collection: Ingredient.order(:name), label: "Ingredient" %>
    <%#= f.association :category, collection: Category.all(order: 'name') %>
    <%= f.input :name, label: "Recipe Name" %>
    <%= f.input :prep_time, label: "Prep time" %>
    <%= f.input :ingredients_list, label: "Ingredients" %>
    <%= f.input :preparation, label: "Preparation" %>
    <%= f.input :photo, as: :file %>

    <div>
      <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
      <%= link_to 'cancel', :back, class: 'btn btn-danger' %>
    </div>
<% end %>
