<!DOCTYPE html>
<html>
  <head>
    <title>Fanny's Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('fc.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b4e5ca6111.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if controller.controller_name == "pages" && controller.action_name == "home" %>
    <nav>
      <div class="home-logo">
      <%= link_to "cookbook", root_path, class: "logo logo-white" %>
      </div>
    </nav>
    <%= yield %>
    <footer class="home-footer">
      <p>Copyright Fanny's Cookbook© 2020 | All Rights Reserved.</p>
    </footer>
    <% else %>
      <nav>
        <div class="home-logo">
        <%= link_to "cookbook", root_path, class: "logo logo-black" %>
        </div>
        <div class="navigation">
        <%#= link_to "categories", root_path, class: "button button-color" %>
        <%#= link_to "ingredients", root_path, class: "button button-color" %>
        </div>
      </nav>
      <%= yield %>
      <footer class="website-footer">
        <p>Copyright Fanny's Cookbook© 2020 | All Rights Reserved.</p>
      </footer>
    <% end %>
  </body>
</html>
