<!DOCTYPE html>
<html>
  <head>
    <title>Fanny's Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b4e5ca6111.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <%= link_to "cookbook", root_path, class: "logo" %>
    </nav>
    <%= yield %>
  </body>
</html>
